section{
    margin-top: 10px;
}

div{
    width: 80px;
    height: 60px;
    text-align: center;
    background-color: green;
    border: 2px solid black;
    margin: 20px auto;
}

div:nth-of-type(2n) {
    background-color: gold;
}

div:nth-of-type(3n) {
    background-color: yellow;
}

/* transform program start from here */
#one{
    transform: rotate(15deg);

}
#two{
    transform: scale(0.5);

}
#three{
    transform: translate(100px,0px);
}
#four {
    transform: skew(20deg);
    
}
#five{
    transform: rotate(30deg) translate(50px);
}