div{
    height: 150px;
    width: 150px;
    background-color: red;
    margin: 0 auto;
    /* margin-top: 10px; */
    transition: margin-top 2s ease-in 0.2s;
    

}
div h1{
    text-align: center;
    padding-top: 35%;
    color: white;


}

div:hover{
    margin-top: 700px;
    background-color: blue;

}