#container {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* align-items: flex-start; */
}

.box {
    flex: 1 0 100px; /*Flex properties */
    height: 100px; /* Set the height */
    display: flex; /* Make the text center */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    color: white; /* Text color */
    /* flex-basis: auto; */


    /* align-items: baseline; */

}

.green {
    background-color: green;
    /* height: 200px; baseline property use garda comment out garnu */

}

.red {
    background-color: rgb(255, 0, 0);
}

.blue {
    background-color: blue;
    /* height: 20px; baseline property */
}

.dark-red {
    background-color: rgb(128, 0, 0);
}

.gray {
    background-color: rgb(146, 146, 146);
    /* font-size: 40px; baseline property */
}

.light-green {
    background-color: rgb(162, 255, 0);
}

.pink {
    background-color: rgb(255, 0, 204);
}

.purple {
    background-color: rgb(153, 0, 255);
}

