/* comment is done for another another program 
to run because it error another div program*/

/* div{
    height: 100px;
    width: 100px;
    background-color: red;
    margin:10px;
    border: 2px solid black;
    display: inline-block ;

}   */

h1{
    border: 2px solid red;
    width: 33.33%;

}

#outer{
    height: 100px;
    width: 100px;
    background-color: pink;

}
 
#inner{
    height: 50%;
    width: 100%;
    background-color: yellow;

}


/*  em - it is used for doubling the size of inner element
than outer element i.e. font-size */
button{
    font-size: 30px;
    border-radius: 15px;
    border: 3px solid rgb(255, 238, 0);
    padding-left: 0.5em;
    padding-right: 0.5em;

}

/* rem - font size increases according to root element */