*{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: purple;
}

h1{
    color: #b92bb9;
}

#signup, #login{
    background-color: black;
    color: white;
}

p+h3{
    text-decoration: underline;
}

div > input{
    background-color: blue;
}

/* pseudo class */

/* hover */
button:hover{
    color :rgb(255, 0, 0);
    background-color: bisque;
}

/* active: after we click on +upvote or answer on site button it takes action*/
button:active{
    background-color: blue;
    color:#b92bb9
}

p:active{
  font-weight: 20px;  

}

/* checked: for radio button */
  yes, no 