*{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    color: rgb(255, 0, 255);
}

h1{
    color: #ea0a0a;
}

#signup, #login{
    background-color: rgb(0, 0, 0);
    color: white;
    
}
nav li a {
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}

main p{
    font-weight: bold;
}

main a{
    text-decoration: none;
    color: brown;
    background-color: rgb(174, 210, 216);
}

p+h3{
    text-decoration: underline;
}

div > input{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
}

/* pseudo class Day 6*/

/* hover */
button:hover{
    color :rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

/* active: after we click on +upvote or answer on site button it takes action*/
button:active{
    background-color: rgb(0, 0, 0);
    color:#b92bb9
}

p:active{
  font-weight: 20px;  

}

/* checked: for radio button */
  /* -> yes, no hovering style*/
  input[type="radio"]:checked + label {
    color : rgb(0, 0, 0);
    font-weight: bold;
  }

/* first line of paragraph changes it's color*/

p::first-line{
    color: rgb(214, 22, 22);

}

/* background color of selected text changes */
p::selection{
    background-color: rgb(255, 255, 0);
}

/* id > class > element */




  